<header style="background-color: #f9f9f9; margin-top: -8px">
  <nav class="flex-container">
    <div>
      <img src="assets/logo-biogen.png" alt="Logotipo Biogen" class="logo-nav"/>
    </div>
    <div>
      <ul style="margin: auto;">
        <li class="nav-btn"><a href="index.html" style="color: grey;">Home</a></li>
        <li class="nav-btn"><a href="quem-somos.html" style="color: grey;">Quem Somos</a></li>
        <li class="nav-btn"><a href="solucao.html" style="color: grey;">Solução</a></li>
        <li class="nav-btn"><a href="parceiros.html" style="color: grey;">Parceiros</a></li>
      </ul>
    </div>
    <div>
      <a href="cadastro.html" class="btn-primary" style="text-decoration: none;">Cadastre-se</a>
    </div>
    <div>
      <a class="h1-gr" style="margin-inline: 20px" href="login.html"
        ><i class="fa fa-user" aria-hidden="true"></i
      ></a>
    </div>
  </nav>
</header>
