<section>
  <div>
    <h1 class="h1-gr text-layout-1" style="text-align: center">
      Empresas que estão Olhando para o Futuro
    </h1>
  </div>
  <div>
    <div class="logos">
      <div class="logos-slide">
        <img src="./img/brf.png" />
        <img src="./img/cargill.png" />
        <img src="./img/ambev.png" />
        <img src="./img/jbs.png" />
        <img src="./img/marfrig.png" />
      </div>
    </div>
  </div>
</section>
<section
  class="banner-cta"
  style="background-image: url('./img/banner-cta.png')"
>
  <div class="titulo-esquerda">
    <h1 class="h1-wh">Faça parte você também</h1>
    <p class="p-wh">
      Cadastre-se com seu número NIS para participar do projeto e receber
      energia mais barata.
    </p>
    <button class="btn-outline">Saiba Mais</button>
    <button class="btn-primary">Cadastre-se</button>
  </div>
</section>
